//animation properties for all <img>
img {
    animation: fadeInUp 0.7s;
    animation-fill-mode: forwards;
}

.svg-right-icons {
    float: right;
    filter: invert(100%);
    cursor: pointer;
}

.about-container {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 12%;
    
}

.about-description {

    opacity: 1;
    font-size: 20px;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
    margin-left: 350px;

}

.pfp {
    opacity: 0;
    height: 300px;
    width: 300px;
    float: left;
    display: block;
    border-radius: 50%;
    margin-left: 45px;
}

.mobile-menu {
    display: none;
}

.desktop-menu {
    display: block;
    margin-bottom: 30px;
}

// mobile devices USE (pointer:none), (pointer:coarse) when finished
@media only screen and (max-width: 1000px) {
    .about-container {
        top: 30px;
        left: 0%;
        width: 100%;
        
    }
    .center-all-of-this {
        text-align: center;
        line-height: 2;
    }

    .pfp {
        float: none;
        margin: auto;
        margin-bottom: 30px;
        opacity: 0;
        max-width: 75%;
        height: auto;
        width: auto\15;
        display: block;
        border-radius: 50%;

    }

    .mobile-menu {
        display: block;
        top: 30px;
        left: 30px;
        right: 30px;
    }

    .desktop-menu {
        display: none;
    }
    
    .about-description {
        margin-left: 0px;
    }

    p {
        padding-inline: 7%;
    }
    
}