//animation properties for all <img>
img {
    animation: fadeInUp 0.7s;
    animation-fill-mode: forwards;
}

.about-container {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;
}

.about-description {

    opacity: 1;
    font-size: 20px;
    animation: fadeInUp 0.7s;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
    margin-left: 0px;
    
}


.pfp {
    opacity: 0;
    height: 300px;
    width: 300px;
    float: left;
    display: block;
    border-radius: 50%;
    margin-inline: 50px;
}

.mobile-menu {
    display: none;
}

.desktop-menu {
    display: block;
}

// mobile devices USE (pointer:none), (pointer:coarse) when finished
@media only screen and (max-width: 1000px) {
    .about-container {
        top: 30px;
        left: 0%;
        width: 100%;
        
    }
    .center-all-of-this {
        text-align: center;
        line-height: 2;
    }

    .pfp {
        opacity: 0;
        height: 150px;
        width: 150px;
        float: left;
        display: block;
        border-radius: 50%;
        margin-inline: 30px; 
        margin-bottom: px;

    }

    .mobile-menu {
        display: block;
        top: 30px;
        left: 30px;
        right: 30px;
    }

    .desktop-menu {
        display: none;
    }
    
}