//animation properties for all <img>
img {
    animation: fadeInUp 0.7s;
    animation-fill-mode: forwards;
}

.about-container {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;
    
}

.about-description {

    opacity: 1;
    font-size: 25px;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
    margin-left: 350px;

}


.pfp {
    opacity: 0;
    height: 300px;
    width: 300px;
    float: left;
    display: block;
    border-radius: 50%;
    margin-left: 45px;
}

.mobile-menu {
    display: none;
}

.desktop-menu {
    display: block;
    margin-bottom: 30px;
}

hr.solid {
    width: 100%;
    border: 0;
    margin-block: 30px;
    margin-left: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.75) 10%, rgba(255, 255, 255, 0.75) 90%, rgba(0, 0, 0, 0) 100%);
    animation: expandDivider 1.4s ease, dividerFade 2.8s ease;
}

@keyframes expandDivider {
    from { 
        width: 0px;
    } to {
        width: 100%;
    } 
}

@keyframes dividerFade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

// mobile devices USE (pointer:none), (pointer:coarse) when finished
@media only screen and (max-width: 1000px) {
    .about-container {
        top: 30px;
        left: 0%;
        width: 100%;
        
    }
    .center-all-of-this {
        text-align: center;
        line-height: 2;
    }

    .pfp {
        float: none;
        margin: auto;
        margin-bottom: 30px;
        opacity: 0;
        max-width: 75%;
        height: auto;
        width: auto\15;
        display: block;
        border-radius: 50%;

    }

    .mobile-menu {
        display: block;
        top: 30px;
        left: 30px;
        right: 30px;
    }

    .desktop-menu {
        display: none;
    }
    
    .about-description {
        margin-left: 0px;
    }

    p {
        padding-inline: 7%;
    }
    
}