@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

//animation properties of all <h1>
h1 {
    animation: fadeInUp 0.7s;
    animation-fill-mode: forwards;
    padding-inline: 30px;
}

//animation properties of all <p>
p {
    opacity: 0;
    animation: fadeInUp 0.7s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    padding-bottom: 30px;
    padding-inline: 30px;
}

//animation properties of all <span>
span {
    opacity: 0;
    animation: fadeInUp 0.7s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.home-container {
    
    position: absolute;
    left: 0%;
    top: 30%;
    width: 100%;

}

.home-name {

    font-size: 50px;
    margin-block: 30px;

    opacity: 0;
    text-align: center;
    
}

.home-description {

    opacity: 0;
    font-size: 20px;
    max-width: 800px;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
  
    
    margin: 0 auto;

}

// mobile devices USE (pointer:none), (pointer:coarse) when finished
@media only screen and (max-width: 1000px) {
    .home-container {
        top: 0px;
    }
    .center-all-of-this {
        text-align: center;
        line-height: 2;
    }
}


.center-all-of-this {
    text-align: center;
}



@keyframes fadeInUp {
    from { 
        opacity: 0; 
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }
    to { opacity: 1; }
}

@for $i from 1 through 20 {
    p:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
    }
}

@for $i from 1 through 10 {
    span:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.2}s;
    }
}