.projects-container {

    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;

}

.projects-quick-description {
    font-size: 25px;
    margin-left: 15px;
}

.projects-sidebar {

    margin-left: 15px;
    float: left;
    width: 200px;
    font-size: 20px;

}

.projects-sidebar p {
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.projects-display-container {

    opacity: 1;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
    margin-left: 200px;

}

.projects-dropdown-menu {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        top: 30px;
        left: 0%;
        width: 100%;
        
    }

    .projects-quick-description {
        margin: 0;
    }

    .projects-sidebar {
        display: none;
    }

    .projects-dropdown-menu {
        text-align: center;
        display: block;
        margin: auto;
        margin-block: 20px;
    }

    .projects-display-container {
        margin: 0;
    }

    .menu-dropdown-button {
        background-color: rgba(255,255,255,0.1);
        padding: 5px;
        width: 230px;
        margin-inline: auto;
        border-radius: 5px;
        animation: fadeInUp 1.4s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }

    .menu-dropdown-items {
        background-color: rgba(255,255,255,0.1);
        width: 230px;
        margin-inline: auto;
        border-radius: 5px;
    }

    .menu-dropdown-items p {
        padding-inline: 0;
        padding-block: 5px;
    }


}

@keyframes itemHover {
    from {
        padding: 0px;
    } to {
        padding: 5px;
    }
}