.navigation {
    margin-bottom: 50px;
}

.projects-container {

    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;

}

.projects-quick-description {
    font-size: 20px;
}

.projects-sidebar {

    float: left;

}

@media only screen and (max-width: 1000px) {
    .projects-container {
        top: 30px;
        left: 0%;
        width: 100%;
        
    }
}