.projects-container {

    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;

}

.projects-quick-description {
    font-size: 25px;
    margin-left: 15px;
}

.projects-sidebar {

    margin-left: 15px;
    float: left;
    width: 200px;
    font-size: 20px;

}

.projects-display-container {

    opacity: 1;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
    margin-left: 200px;

}

@media only screen and (max-width: 1000px) {
    .projects-container {
        top: 30px;
        left: 0%;
        width: 100%;
        
    }

    .projects-quick-description {
        margin: 0;
    }

    .projects-sidebar {

        margin-left: 0;
    
    }
}