.projects-container {

    position: fixed;
    left: 20%;
    right: 20%;
    top: 12%;
    height: 70%;

}

.projects-quick-description {
    font-size: 20px;
    margin-left: 15px;
}

.projects-sidebar {

    margin-left: 15px;
    float: left;
    width: 180px;
    font-size: 20px;

}

.projects-sidebar p {
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.projects-display-container {

    opacity: 1;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
    margin-left: 210px;
    font-size: 20px;
    height: 100%;
    overflow-y: scroll;

    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);

}

.projects-dropdown-menu {
    display: none;
}

.vertical {
    display: block;
}

.project-images {
    border-radius: 10px;
}

.lightbox {
    opacity: 1;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10;
}

.lightbox-media {
    margin:auto;
    height: 85%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.embedded-link {
    padding: 0;
}

.image-caption {
    font-size: 12px;
}

figure {
    margin-inline: 20px;
    animation: fadeInUp 0.7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

figcaption {
    font-size: 14px;
}

//react highlight.js
pre {
    border-radius: 10px;
    font-size: 16px;
    margin: 0px;
    margin-block: 0px;
}

.center-figures {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        top: 30px;
        left: 0%;
        width: 100%;
    }

    .projects-quick-description {
        margin: 0;
    }

    .projects-sidebar {
        display: none;
    }

    .projects-dropdown-menu {
        text-align: center;
        display: block;
        margin: auto;
        margin-block: 20px;
    }

    .projects-display-container {
        margin: 0;
    }

    .menu-dropdown-button {
        background-color: rgba(255,255,255,0.1);
        padding: 5px;
        width: 230px;
        margin-inline: auto;
        border-radius: 5px;
        animation: fadeInUp 1.4s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }

    .menu-dropdown-items {
        background-color: rgba(255,255,255,0.1);
        width: 230px;
        margin-inline: auto;
        border-radius: 5px;
    }

    .menu-dropdown-items p {
        padding-inline: 0;
        padding-block: 5px;
    }

    .blender-images {
        width: 90%;
    }

    .vertical {
        display: none;
    }

}

@keyframes itemHover {
    from {
        padding: 0px;
    } to {
        padding: 5px;
    }
}