.mobile-nav {
    padding-left: 30px;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    margin-block: 0px;
    padding-left: 0px;
    
}

ul li {
    padding-top: 25px;
}

ul li a {
    font-size: 30px;
    padding-top: 15px;
    margin-left: -15px;
}